body
{
    background-color: #f1f1f1;
    position: relative;
}

a
{
    color: #466991;
}

.wrapper
{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: #466991;
}

#game-screen
{
    margin: 0 auto;
    height: 0;
    transition: height  1s linear;
    -webkit-transition: height  1s linear;
    -moz-transition: height  1s linear;
    -o-transition: height  1s linear;
    -ms-transition: height  1s linear;
}

.score-block
{
    width: 800px;
    margin: 20px auto;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: #466991;
    display: none;
}

input
{
    font-family: Verdana, sans-serif;
    font-size: 24px;
}

.results
{
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: #466991;
    text-align: center;
    margin: 20px auto;
    width: 300px;
}

#game-restart
{
    display: none;
}

.odd
{
    display: block;
    background-color: darkred;
    border: 1px solid #000;
    color: #ffffff;
}

.even
{
    border: 1px solid #000;
    display: block;
    background-color: blueviolet;
    margin-bottom: 10px;
    color: #ffffff;
}

#game-submit
{
    cursor: pointer;
    display: block;
    color: #ffffff;
    float: right;
    background: green;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
}

#nic_name
{
    height: 40px;
    line-height: 40px;
}

#game-options
{
    display: block;
    opacity: 0;
    text-align: center;
    top: 50%;
    width: 660px;
    left: 50%;
    margin-top: -75px;
    margin-left: -330px;
    position: absolute;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#start-btn, #options-btn, #option-level, #option-bonus-speed, #option-back, #option-snake-hide
{
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-transition: heigth 0.5s ease-in-out;
    -moz-transition: heigth 0.5s ease-in-out;
    -ms-transition: heigth 0.5s ease-in-out;
    -o-transition: heigth 0.5s ease-in-out;
    transition: heigth 0.5s ease-in-out;
}

#start-btn:hover, #options-btn:hover, #option-bonus:hover, #option-level:hover, #option-back:hover, #option-snake-hide:hover
{
    color: #31537a;
}

.color-green
{
    color: green;
}

.color-red
{
    color: red;
}